@charset "UTF-8";

body {
    background-color: #FFCE00;
}

#activities select{
	width: 300px;
}

#activities {
	width: 300px;
}
#activities td {
	width: 300px;
}

#resultTable {
	border: 1px solid black;
}
